.footer__column-link {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    color: white;
    transition: opacity 0.2s ease-out;
}

.footer__column-link:hover {
    opacity: 50%;
}